{% extends 'base.html' %}
{% block content %}
<div>
    <h1 style="margin: auto; display: block; width: 50%;">Welcome</h1>

</div>
<div>
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline" method ="POST" action="/results/">
          {% csrf_token %}
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>

</div>


{% endblock %}